
 h1, h2{
     color:#007bff;
     font-size: 2rem;
     text-align: center;
 }
 section{
   background-color: #f5f5f5;         
   color: #333;                    
   padding: 60px 20px;               
   border-radius: 20px;             
   margin: 50px auto;                
   box-shadow: 0 4px 15px #0000001a;
   max-width: 750px;
   text-align: center;              
 }

 section h3{
   font-size: 1.3rem;
   margin-bottom: 20px;
   color: #1a1a1bff;
 }
 
 section p {
   font-size: 1.1rem;
   margin-bottom: 30px;
   line-height: 1.5;
 } 

    
.exercise{
    font-size: 1.3rem;
    color: #ec1515;
}